*~
*.tr0
*.lis
*.pyc
*.csd
crossings/
fig/
hspice/
spice/
!experiment_setup/spice/
input/
modelsim/
power/
vectors/
results/
perf/
circuits/*/gates/
tools/multi_exec/temp/
manuals/
misc/

!*/generate.cfg


sxcmd.log
sxcmd.log.*

*.log

tools/multi_exec/inv_tree
tools/multi_exec/c17_slack

manual/_minted-manual/
manual/manual.*
!manual/manual.tex
!manual/manual.pdf

circuits/*/*.sdf
circuits/*/*.sp
circuits/*/*.spf
circuits/*/*.spef
!circuits/main_new.sp