*~
*.tr0
*.lis
*.pyc
*.csd
crossings/
fig/
hspice/
spice/
input/
modelsim/
power/
vectors/
results/
perf/
tt/
circuits/*/gates/
tools/multi_exec/temp/
manuals/
misc/

!*/generate.cfg

sxcmd.log
sxcmd.log.*

*.log

tools/multi_exec/inv_tree
tools/multi_exec/c17_slack

manual/_minted-manual/
manual/manual.*
!manual/manual.tex
!manual/manual.pdf
connectasic.sh
pullasic.sh
pushasic.sh
startssh.sh

tools/plot_analog_waveform/*.dat
tools/plot_analog_waveform/*.complete
tools/plot_analog_waveform/*.png

.vscode/
.nfs*

experiment_setup/vhdl/python_channel/python_channel.o
experiment_setup/vhdl/python_channel/python_channel.so


tools/characterization/circuit
tools/characterization/conf
tools/characterization/data
tools/characterization/figures
tools/characterization/spectre

doxygen/output

.scannerwork/


circuits/hlth_chain_L_15nm/characterization/data
circuits/hlth_chain_L_15nm/characterization/figures
circuits/hlth_chain_L_15nm/characterization/hspice*
circuits/hlth_chain_L_15nm/characterization/spectre*
circuits/hlth_chain_L_15nm/characterization/conf/hlth_inv_chain_L_15nm.conf
circuits/hlth_chain_L_15nm/characterization/result*

circuits/hlth_chain_L_fast_shape_15nm/characterization/data
circuits/hlth_chain_L_fast_shape_15nm/characterization/figures
circuits/hlth_chain_L_fast_shape_15nm/characterization/hspice*
circuits/hlth_chain_L_fast_shape_15nm/characterization/spectre*
circuits/hlth_chain_L_fast_shape_15nm/characterization/conf/hlth_inv_chain_L_15nm.conf
circuits/hlth_chain_L_fast_shape_15nm/characterization/result*

circuits/hlth_chain_L_skip_15nm/characterization/data
circuits/hlth_chain_L_skip_15nm/characterization/figures
circuits/hlth_chain_L_skip_15nm/characterization/hspice*
circuits/hlth_chain_L_skip_15nm/characterization/spectre*
circuits/hlth_chain_L_skip_15nm/characterization/conf/hlth_inv_chain_L_15nm.conf
circuits/hlth_chain_L_skip_15nm/characterization/result*

circuits/mips_clock_15nm/characterization/data
circuits/mips_clock_15nm/characterization/figures
circuits/mips_clock_15nm/characterization/hspice*
circuits/mips_clock_15nm/characterization/spectre*
circuits/mips_clock_15nm/characterization/conf/mips_clock_15nm.conf
circuits/mips_clock_15nm/characterization/result*

circuits/inv_x2_chain_15nm/characterization/data
circuits/inv_x2_chain_15nm/characterization/figures
circuits/inv_x2_chain_15nm/characterization/hspice*
circuits/inv_x2_chain_15nm/characterization/spectre*
circuits/inv_x2_chain_15nm/characterization/conf/inv_x2_chain_15nm.conf
circuits/inv_x2_chain_15nm/characterization/result*

circuits/buf_x4_chain_15nm/characterization/data
circuits/buf_x4_chain_15nm/characterization/figures
circuits/buf_x4_chain_15nm/characterization/hspice*
circuits/buf_x4_chain_15nm/characterization/spectre*
circuits/buf_x4_chain_15nm/characterization/conf/buf_x4_chain_15nm.conf
circuits/buf_x4_chain_15nm/characterization/result*


circuits/inv_x2_chain_skip_15nm/characterization/data
circuits/inv_x2_chain_skip_15nm/characterization/figures
circuits/inv_x2_chain_skip_15nm/characterization/hspice*
circuits/inv_x2_chain_skip_15nm/characterization/spectre*
circuits/inv_x2_chain_skip_15nm/characterization/conf/inv_x2_chain_15nm.conf
circuits/inv_x2_chain_skip_15nm/characterization/result*

circuits/nor_gate_15nm/hm_fitting

circuits/**/*.sdf
circuits/**/*.sp
circuits/**/*.spf
circuits/**/*.spef
!circuits/main_new.sp
