export TOP_DIR:=$(dir $(abspath $(lastword $(MAKEFILE_LIST))))
export INPUT_NAMES=nx1 nx2 nx3 nx6 nx7
ifndef MULTI_EXEC
include ../config.cfg
include ../config_65nm.cfg
else
include ${ME_CIRCUIT_DIR}/config.cfg
include ${ME_CIRCUIT_DIR}/config_65nm.cfg
endif

# figure prefix
export START_OUT_NAME=c17_slack_

# .do and .scr file configuration
export CIRCUIT_NAME=circuit_tb
export UNIT_NAME=uut
export CIRCUIT_FILE_TYPE=verilog
export CIRCUIT_FILE=c17_slack_synth.v
export VERILOG_FILE=c17_slack_synth.v
export CIRCUIT_FILE_GIDM=c17_slack_synth_gidm.v
export VERILOG_FILE_GIDM=c17_slack_synth_gidm.v
export VCD_SIGNALS=nx* net*
#export SDF_FILE=c17_slack.sdf
export SDF_FILE=c17_slack_own.sdf
export SDF_FILE_GIDM=c17_slack_own_gidm.sdf
export REQUIRED_GATES=ND2M1N