export TOP_DIR:=$(dir $(abspath $(lastword $(MAKEFILE_LIST))))
export INPUT_NAMES=A1 A2
ifndef MULTI_EXEC
include ../config.cfg
include ../config_15nm.cfg
else
include ${ME_CIRCUIT_DIR}/config.cfg
include ${ME_CIRCUIT_DIR}/config_15nm.cfg
endif

# figure prefix
export START_OUT_NAME=nor_buf_

# .do and .scr file configuration
export CIRCUIT_NAME=circuit_tb
export UNIT_NAME=c1
export CIRCUIT_FILE_TYPE=verilog
export CIRCUIT_FILE=nor_buf_post.v
export VERILOG_FILE=nor_buf_post.v

export CIRCUIT_FILE_GIDM=nor_buf_post_gidm.v
export VERILOG_FILE_GIDM=nor_buf_post_gidm.v

export VCD_SIGNALS=A1 A2 Z A1_wire_2 A2_wire_2 Z_wire
ifndef ${SDF_FILE}
	export SDF_FILE=nor_buf_custom.sdf
endif
export SDF_FILE_GIDM=nor_buf_custom_gidm.sdf

export REQUIRED_GATES=NOR2_X2 BUF_X4
export SPEF_FILE_NAME=nor_buf.spef

export FIGURE_IGNORE_SIGNALS=[]