export TOP_DIR:=$(dir $(abspath $(lastword $(MAKEFILE_LIST))))
export INPUT_NAMES=din
ifndef MULTI_EXEC
include ../config.cfg
include ../config_15nm.cfg
else
include ${ME_CIRCUIT_DIR}/config.cfg
include ${ME_CIRCUIT_DIR}/config_15nm.cfg
endif

# figure prefix
export START_OUT_NAME=inv_tree_

# .do and .scr file configuration
export CIRCUIT_NAME=circuit_tb
export UNIT_NAME=c1
export CIRCUIT_FILE_TYPE=verilog

export CIRCUIT_FILE=inv_tree_post.vh
export VERILOG_FILE=inv_tree_post.vh

export CIRCUIT_FILE_GIDM=inv_tree_post_gidm.vh
export VERILOG_FILE_GIDM=inv_tree_post_gidm.vh	

# export VCD_SIGNALS=din temp* dout* *Transition*
export VCD_SIGNALS=din temp* dout*
# export VCD_SIGNALS=din temp1
ifndef ${SDF_FILE}
	export SDF_FILE=inv_tree_own.sdf
endif
export SDF_FILE_GIDM=inv_tree_own_gidm.sdf

export REQUIRED_GATES=INV_X1
export SPEF_FILE_NAME=inv_tree.spef